# Environnement Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# IDE
.idea/
.vscode/
*.swp

# Données locales (NE PAS pusher !)
#patrimoine.db
patrimoine.db.backup
patrimoine.db-wal
patrimoine.db-shm
patrimoine.bak.db
*.sqlite
*.sqlite3

# Logos uploadés (perso)
uploads/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Variables d'environnement (secrets)
.env
.env.local

app_state.json